{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% if weather %}
        <div class="card mb-4 shadow-sm border-0 bg-light">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div>
                    <h5 class="card-title mb-1">
                        Météo à <strong>{{ weather.name }}</strong>
                    </h5>
                    <p class="card-text mb-0 text-muted">
                        {{ weather.weather[0].description|capitalize }}<br>
                        <strong>{{ weather.main.temp|round }}°C</strong>
                    </p>
                </div>
                <div>
                    <img src="https://openweathermap.org/img/wn/{{ weather.weather[0].icon }}@2x.png"
                         alt="{{ weather.weather[0].description }}" width="80" height="80">
                </div>
            </div>
        </div>
    {% endif %}


    {% for post in paginator.results %}
        {{ include('blog/_post.html.twig') }}
    {% else %}
        <div class="jumbotron">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}


    {% if paginator.hasToPaginate %}
        <div class="navigation text-center">
            <ul class="pagination pagination-lg">
                {% if paginator.hasPreviousPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('blog_index_paginated', {page: paginator.previousPage, tag: tagName}) }}" rel="previous">
                            <twig:ux:icon name="tabler:arrow-left"/> {{ 'paginator.previous'|trans }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link"><twig:ux:icon name="tabler:arrow-left"/> {{ 'paginator.previous'|trans }}</span>
                    </li>
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                    {% if i == paginator.currentPage %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }} <span class="sr-only">{{ 'paginator.current'|trans }}</span></span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('blog_index_paginated', {page: i, tag: tagName}) }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('blog_index_paginated', {page: paginator.nextPage, tag: tagName}) }}">
                            <span>{{ 'paginator.next'|trans }} <twig:ux:icon name="tabler:arrow-right"/></span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">{{ 'paginator.next'|trans }} <twig:ux:icon name="tabler:arrow-right"/></span>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
    {{ include('blog/_rss.html.twig') }}
{% endblock %}
